/* KEYFRAMES LOGIC FOR ERROR MESSAGES */
@keyframes fadeInError {
  0% {
    color: white;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    color: #d9534f;
  }
}
/* KEYFRAMES LOGIC FOR ERROR MESSAGES */

/* KEYFRAME LOGIC FOR SUCCESS MESSAGES */

@keyframes fadeInSuccess {
  0% {
    color: white;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    color: #28a745;
  }
}

/* KEYFRAME LOGIC FOR SUCCESS MESSAGES */

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

@font-face {
  font-family: 'Nexa-Heavy';
  src: url('./assets/fonts/Nexa-Heavy.woff2') format('woff2'),
       url('./assets/fonts/Nexa-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

main { 
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

body {
  font-family: 'Nexa-Heavy', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

img { 
  max-width: 100%;
}

a svg{
  height: 20px;
}