.pageWrapper {
  transition: filter 0.3s ease-in-out;
}

.contentContainer {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}

.blurred {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s forwards;
  z-index: 999;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.modalButtons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modalButtons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
