form.login {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px 7px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
}

.error-icon {
  position: absolute;
  left: 0.5rem;
  color: red;
  font-size: 1rem;
  pointer-events: none;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-group .error-icon {
  font-size: 1rem;
  color: red;
}

.input-group input {
  flex: 1;
  padding-left: 0.5rem;
}

.input-with-eye {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-with-eye input {
  flex: 1;
}

.show-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 0.5rem;
}

.eye-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #333;
}

button {
  width: 100%;
  display: block;
  background-color: #20b1e1;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
  cursor: pointer;
}

button.show-btn {
  width: 40px;
  height: 40px;
  background-color: #20b1e1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

button.show-btn .eye-icon {
  width: 24px;
  height: 24px;
  stroke: white;
}

form.login h1 {
  text-align: center;
}

.error-msg {
  color: #d9534f;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  animation: fadeInError 0.5s ease-out;
  white-space: pre-wrap;
}

.success-msg {
  color: #28a745; /* Bootstrap-like green */
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  animation: fadeInSuccess 0.5s ease-out;
  white-space: pre-wrap;
}

.hint-bubble {
  animation: fadeIn 0.4s ease-in-out;
  margin-top: 10px;
  background-color: #f0f8ff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  color: #333;
  text-align: center;
  cursor: pointer;
}

.hint-bubble:hover {
  background-color: #20b1e1;
}

.login-hl {
  text-align: center;
}

.login-links {
  margin-top: 20px;
  text-align: center;
  font-size: smaller;
}

.loginpage-link {
  color: #4f46e5;
  text-decoration: none;
  font-weight: bold;
}

.loginpage-link:hover {
  text-decoration: underline;
}

.password-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.password-container input {
  flex: 1;
  margin-bottom: 0;
}