@media screen and (min-width: 600px) {
  .postPage {
    display: grid;
    grid-template-columns: 0.9fr;
    justify-content: center;
  }
}

.postPage {
  padding: 1rem;
}


.title {
  text-align: center;
  margin: 10px 0 5px;
}

.time {
  text-align: center;
  display: block;
  font-size: 0.7rem;
  color: #aaa;
}

.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}


.editRow {
  text-align: center;
  margin: 10px 0;
}

.editBtn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
}

.editIcon {
  width: 1rem;
  height: 1rem;
}


.image {
  max-height: 200px;
  display: flex;
  overflow: hidden;
}

.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.content p {
  line-height: 1.6rem;
}

.content a {
  color: #333;
  text-decoration: underline;
}

